# ==============================
# Flutter / Dart
# ==============================

.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# ==============================
# Android
# ==============================

**/android/.gradle/
**/android/local.properties
**/android/key.properties

# Arquivos de assinatura
*.jks
*.keystore

# ==============================
# IntelliJ / Android Studio
# ==============================

.idea/
*.iml

# ==============================
# VS Code
# ==============================

.vscode/

# ==============================
# Sistema operacional
# ==============================

.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Arquivos temporários
# ==============================

*.tmp
*.temp
*.swp
*.swo